<header class="bg-dark py-5 mt-5 bg-image">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Sign Up</h1>
    </div>
  </div>
</header>

<%
=begin%>
 <h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name, 'Full Name' %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %> 
<%
=end%>




<div class="login d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-lg-5 mx-auto">
        <h3 class="login-heading text-center mb-4">Register</h3>
        <!-- Sign In Form -->
        <form class="new_user" id="new_user" action="/users" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <div class="d-grid">
            <a class="btn btn-lg btn-danger btn-login text-white text-uppercase  fw-bold mb-2" data-method="post" href="/users/auth/google"> <i class="bi bi-google"></i> Sign up with Google </a>
            <div class="text-center mb-3 mt-2">
              Or
            </div>
          </div>
          <div class="form-floating mb-3">
            <input type="text" autofocus="autofocus" value="" autocomplete="name" name="user[name]" class="form-control" id="floatingInput user_name" placeholder="john doe">
            <label for="user_name floatingInput">Full Name</label>
          </div>
          <div class="form-floating mb-3">
            <input type="email" value="" autocomplete="email" name="user[email]" class="form-control" id="floatingInput user_email" placeholder="name@example.com">
            <label for="user_email floatingInput">Email address</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" autocomplete="current-password" class="form-control" name="user[password]" id="floatingPassword user_password" placeholder="Password">
            <label for="user_password floatingPassword">Password (6 characters minimum)</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" autocomplete="current-password" class="form-control" name="user[password_confirmation]" id="floatingPassword user_password_confirmation" placeholder="Password_confirmation">
            <label for="user_password_confirmation floatingPassword">Password confirmation</label>
          </div>

          <% if devise_mapping.rememberable? %>
          <div class="form-check mb-3">
            <input name="user[remember_me]" type="hidden" value="0"><input class="form-check-input" type="checkbox" value="1" name="user[remember_me]" id="user_remember_me rememberPasswordCheck">
            <label class="form-check-label" for="rememberPasswordCheck user_remember_me">
              Remember password
            </label>
            
          </div>
          <%end%>
          <div class="d-grid">
            <button class="btn btn-lg btn-outline-dark btn-login text-uppercase fw-bold mb-2" name="commit" type="submit">Sign Up</button>
            <div class="text-center small">Already have an Account?
              <a href="/sign_in">Sign In</a> <br> <a href="/users/confirmation/new">Didn't receive confirmation instructions?</a>
            </div>
          </div>
        </form>
      </div>
      </div>
    </div>
</div>
