

        <!-- Navigation-->
        <header class="bg-dark py-5 mt-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Our Menu's</h1>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 ">
              <div class="row mb-5">
                <div class="col-lg-6 col-md-7 col-sm-10 mx-auto">
                <form action="/products" class="product_search" id="product_search" accept-charset="UTF-8" method="get">
                  <div class="input-group mb-3">
                  <input type="search" name="q[name_cont]" id="q_name_cont" placeholder="Search Items by names or categories..." class="form-control form-control-lg" id="">
                    <button type="submit" name="commit" class="input-group-text btn btn-dark" id="basic-addon2">Search</button>
                  </div>
                </form>
                </div>
              </div>
                <div class="row gx-4 gx-lg-5  ">
                  <% @products.each do |product| %>
                    <div class=" col-lg-4 col-md-6 col-sm-12 mb-5">
                        <div class="card h-100 bg-light">
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">50% off</div>
                            <!-- Product image-->
                            <%= link_to product do %><%= image_tag(product.image, class: "card-img-top", size: "300x300",) if product.image.attached? %><% end %>
                            <!-- Product details-->
                            <div class="card-body  p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder"><%= link_to product.name, product %></h5>
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star"></div>
                                    </div>
                                    <!-- Product price
                                    <span class="text-muted text-decoration-line-through">$20.00</span>
                                    -->
                                    $<%= product.price %>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                            </div>
                        </div>
                    </div>
                  <% end %>
                </div>
            </div>
        </section>








<%
=begin%>
 <h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Product Image</th>
      <th>Price</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= image_tag(product.image, size: "100x100") if product.image.attached? %></td>
        <td><%= product.price %></td>

        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br> 
<%
=end%>

<%= link_to 'New Product', new_product_path %>
